.horaAtual {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--cor-fundo-padrao);

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(36, 15, 224);
    color: rgb(236, 233, 19);
    margin: 16px;
  }

  .divHora {
    display: flex;
    justify-content: center;
  }